.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* LOGIN */
.c-custom-login__btn {
    color: #fff;
    max-width: 250px;
    width: 100%;
    background-color: #4A90E2;
    border-radius: 20.5px;
    border: 1px solid #4A90E2;
    padding: 9px 15px;
    font-size: 15px;
    font-weight: 600;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
